* {
    margin: 0%;
    padding: 0%;
}

body {
    overflow-x: hidden;
}

/* 헤더 메뉴 영역 */

header {
    display: flex;
    width: 100vw;
    height: 59px;
    justify-content: center;
    border-bottom: 1px solid rgb(209, 209, 209);
    position: fixed;
    z-index: 100;
    background-color: white;
}

.container {
    display: flex;
    align-items: center;
    width: calc(100vw - 50px);
    position: relative;
}

.toss_nav {
    display: flex;
    width: 1048px;
    height: 100%;
    margin: auto;
}

.toss_menu {
    display: flex;
    margin-left: auto;
    font-family: 'NanumSquare';
    font-size: 14px;
}

.toss_menu > ul {
    display: flex;
    list-style: none;
}

.toss_menu > li, li {
    display: flex;
    padding: 0 8px 0 8px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.toss_menu a {
    text-decoration: none;
    color: rgb(89, 89, 117);
    padding: 10px 12px 10px 12px;
}

.toss_menu a:hover {
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
}

.toss_lang {
    display: flex;
    margin: 0 0 0 50px;
}

.toss_lang > span {
    content: '';
    border-left: 2px solid rgb(212, 212, 212);
    display: flex;
    height: 13px;
    margin: 22px 0 0 0;
}

.toss_menu ul > li:nth-child(3) a {
    color: rgb(196, 196, 196);
}

.toss_logo {
    display: flex;
    align-items: center;
}

.toss_logo img {
    height: 20px;
}

/* 메인 상단 페이지 영역 */

.art_1 {
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.top_back_img {
    position: relative;
}

.art_1 > div {
    position: absolute;
    display: flex;
    top: 0%;
    width: 100%;
    height: auto;
    text-align: center;
    justify-content: center;
    font-size: 43px;
    font-family: 'NanumSquareBold';
    line-height: 2em;
    margin: 170px 0 0 0;
}

.art_1 > div > h1 {
    margin-bottom: 50px;
}

.top_back_img > video {
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

.top_back_img_gradient {
    position: absolute;
    background: linear-gradient(white 0%, white 59%, rgba(0, 0, 0, 0) 100%);
    width: 100%;
    height: 30%;
    top: 59px;
}

.app_btn {
    display: flex;
    width: 100%;
    flex-direction: column;
    animation: fadein 1s;
}

@keyframes fadein{
    from {opacity: 0;}
    to {opacity: 1;}
}

.app_btn ul li img {
    display: flex;
    width: 25px;
    margin-right: 8px;
}

.app_btn ul {
    display: flex;
    justify-content: center;
}

.app_btn ul li {
    display: flex;
    float: left;
    background-color: rgba(0, 12, 30, 0.8);
    font-size: 16px;
    font-family: 'NanumSquareBold';
    width: 150px;
    height: 62px;
    border-radius: 8px;
}

.app_btn ul li:hover {
    background-color: rgba(0, 12, 30, 0.697);
    transition: 0.5s;
}

.app_btn ul li:nth-child(1) {
    margin-right: 4px;
}

.app_btn ul li a {
    color: white;
    height: auto;
    text-decoration: none;
}

.art_2 {
    background-color: rgb(250, 250, 250);
    width: 100vw;
    height: 100%;
}

.toss_intro {
    font-size: 24px;
    font-family: 'NanumSquareBold';
    text-align: center;
    padding: 200px 0 200px 0;
    line-height: 50px;
}

.toss_intro > h1 {
    margin: 0 0 30px 0;
}

.art_3 {
    justify-content: center;
    display: flex;
    width: 100vw;
    height: 100%;
    padding: 250px 0 190px 0;
}

.info_box {
    display: flex;
    width: 1048px;
    margin: auto;
}

.info_text_1 {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
    font-family: 'NanumSquareBold';

}

.info_text_1 > h1:nth-child(1) {
    color: rgb(49, 130, 246);
    font-size: 28px;
    margin-bottom: 30px;
}

.info_text_1 > h1:nth-child(2) {
    font-size: 50px;
}

.info_img_box {
    background-color: rgba(127, 255, 212, 0.441);
    width: 100%;
    position: relative;
}

.info_img_1 {
    display: flex;
    right: -100px;
    width: 600px;
    height: 936px;
    position: absolute;
}

.info_img_1 > img:nth-child(1) {
    width: 57%;
    top: 92px;
    right: 128px;
    position: absolute;
    z-index: 2;
}

.info_img_1 > img:nth-child(2) {
    width: 100%;
    height: 100%;
    z-index: 5;
}

.info_img_2 {
    display: flex;
    left: -108px;
    top: 350px;
    width: 600px;
    height: 936px;
    position: absolute;
}

.info_img_2 > img:nth-child(1) {
    width: 57%;
    top: 92px;
    left: 128px;
    position: absolute;
    z-index: 6;
}

.info_img_2 > img:nth-child(2) {
    width: 100%;
    height: 100%;
    z-index: 6;
}

.info_text_2 {
    position: absolute;
    right: 120px;
    font-size: 18px;
    font-family: 'NanumSquareBold';
    top: 1000px;
}

.info_text_2 > h1 {
    line-height: 35px;
}